.pokedex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.pokedex h1 {
  font-size: 4rem;
}

.pokedexContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 25rem));
  gap: 2rem;
}

.pokedex button {
  width: 50%;
  height: 4rem;
  border-radius: 0.6rem;
  color: white;
  outline: none;
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(10, 159, 223);
}

@media screen and (min-width: 768px) {
  .pokedexContainer {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 25rem));
  }
}

@media screen and (min-width: 1024px) {
  .pokedexContainer {
    width: 90%;
    grid-template-columns: repeat(4, minmax(20rem, 30rem));
    gap: 4rem;
  }
}
